
{% for group in groups %}

<table>
    <tr>
        <td>{{ group.name }}<br>{{ group.level }}<br>{{ group.job }}</td>
        <td>{{ group.bonus }}</td>
    </tr>
    <tr>
        <table>
            {% for subgroup in group.subgroups %}
                <tr>
                    <td>
                        <table>
                            {% for category in subgroup %}
                                <tr>
                                    <td><img src="{{ category.maleicon }}"></td>
                                    <td>{{ category.malename }}</td>
                                    <td>{{ category.bonus }}</td>
                                    <td>{{ category.femalename }}</td>
                                    <td><img src="{{ category.femaleicon }}"></td>
                                </tr>
                            {% endfor %}
                        </table>
                        
                    </td>
                </tr>
            {% endfor %}
        </table>
    </tr>
</table>

{% endfor %}
